* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/galaxy.jpg);
    background-size: cover;
    position: relative;
}
body::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:black;
    opacity: 0.7;
}
h2{
    font:italic bold 40px Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(241, 236, 236);
    text-align: center;
    padding: 20px 0px;
    text-shadow: 5px 5px 10px rgb(105, 196, 231);
    z-index: 1;
    position: relative;
}
.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
    width: 200px;
    height: 100px;
    position: relative;
    margin-bottom: 10px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: 1;
}
.div1, .div3, .div5,.div7 {   
    animation-name: wolf;
    background-image: url(../images/www.jpg);
    background-size: cover;
    border-radius: 20px;
}
.div2,.div4,.div6,.div8 {
    animation-name: cutewolf;
    background-image: url(../images/smile.jpg);
    background-size: cover;
    border-radius: 40px;
    left: calc(100% - 200px);
}
.div1:hover, .div3:hover, .div5:hover,.div7:hover{
    animation-play-state: paused;
}
.div1 {
    margin-top: 5px;
}
.div2 {
    animation-delay: 3s;
}
.div3 {
    animation-delay: 6s;
}
.div4 {
    animation-delay: 9s;
}
.div5 {
    animation-delay: 12s;
}
.div6 {
    animation-delay: 15s;
}
.div7 {
    animation-delay: 18s;
}
.div8 {
    animation-delay: 21s;
}
@keyframes wolf {
    0% {
        left: 0px;
    }
    50%{
      left: 50%;
      box-shadow: 5px 5px 20px 5px rgb(247, 6, 126);
      border-radius: 80px 15px;
    }
    100% {
        left: calc(100% - 200px);
        box-shadow: 2px 2px 10px 3px rgb(192, 51, 110);
    }
}
@keyframes cutewolf {
    0% {
        left: calc(100% - 200px);
    }
    50%{
        transform: skewX(20deg);
        box-shadow: 5px 5px 20px 5px rgb(233, 170, 54);
    }
    100% {
        left: 0px;
        box-shadow: 2px 2px 10px 3px rgb(243, 228, 96);
    }
}

